.i{
    display: flex;
    /* height: 50vh; */
    background-color: #437F97;
    color: #FFCBAD;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right{
    flex: 1;
}

.i-left-wrapper {
    padding: 50px;
    display: flex;
    vertical-align: top;
    flex-direction: column;
    /* justify-content: space-between;  */
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}

.i-name{
    font-size: 60px;
    white-space: 0;
}

.i-title{
    height: 50px;
    overflow: hidden;
    display: inline-block;
    align-items: left;
}

.i-title-wrapper{
    height:100%;
    animation: move 10s ease-in-out infinite alternate;
    display: inline-block;

}

@keyframes move {
    20%{
        transform: translateY(-50px);
    }
    40%{
        transform: translateY(-100px);
    }
    60%{
        transform: translateY(-150px);
    }
    80%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(-250px);
    }
}

.i-title-item{
    height: 50px;
    font-size:30px;
    font-weight: bold;
    color: #FFBC0A;
    display: flex;
    align-items: center;
}

.i-img{
    width: 100%;
    height:100%;
    vertical-align: middle;
    object-fit: cover;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    position: relative;
}

.i-title-start{
    height: 50px;
    font-size:30px;
    color: #FFCBAD;
    display: flex;
    align-items: center;
    display: inline-block;
    transform: translateY(-250px);

}

@media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
      height: 70vh;
    }
  
    .i-left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }

    .i-img{
        display: none;
    }
  
    /* .i-desc{
      display: none;
    } */

    /* .i{
        display: flex;
        height: 50vh;
        background-color: #437F97;
        color: #FFCBAD;
    } */
    
  }